################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ADSI.CHATBOT.Solution/appsettings.json
/ADSI.CHATBOT.Solution/Dockerfile
.vs/
*.user
*.suo
*.cache

